<!------------------------------ FOOTER -------------------------------->
<footer class="footer section">
    <div class="footer--container container grid">
        <div class="footer--content grid">
            <div class="footer--data">
                <h3 class="footer--title">JKTravels</h3>
                <p class="footer--description">
                    Travel you choose the <br /> destination, we offer you the <br /> experience.
                </p>

                <div class="footer--social-container">
                    <a href="https://www.facebook.com/jktravels" target="_blank" class="footer--social">
                        <i class="ri-facebook-box-fill"></i>
                    </a>

                    <a href="https://www.twitter.com/jktravels" target="_blank" class="footer--social">
                        <i class="ri-twitter-fill"></i>
                    </a>

                    <a href="https://www.instagram.com/jktravels" target="_blank" class="footer--social">
                        <i class="ri-instagram-fill"></i>
                    </a>

                    <a href="https://www.youtube.com/jktravels" target="_blank" class="footer--social">
                        <i class="ri-youtube-fill"></i>
                    </a>
                </div>
            </div>

            <div class="footer--data">
                <h3 class="footer--subtitle">About</h3>

                <ul>
                    <li class="footer--item">
                        <a href="aboutus/index.html" class="footer--link">About Us</a>
                    </li>

                    <li class="footer--item">
                        <a href="services/index.html" class="footer--link">Services</a>
                    </li>

                    <li class="footer--item">
                        <a href="blog/index.html" class="footer--link">News &amp; Blog</a>
                    </li>
                </ul>
            </div>

            <div class="footer--data">
                <h3 class="footer--subtitle">Company</h3>

                <ul>
                    <li class="footer--item">
                        <a href="ourpeoples/index.html" class="footer--link">Team</a>
                    </li>

                    <li class="footer--item">
                        <a href="priceplaning/index.html" class="footer--link">Plan &amp; Pricing</a>
                    </li>

                    <li class="footer--item">
                        <a href="carriers/index.html" class="footer--link">Become a member</a>
                    </li>
                </ul>
            </div>

            <div class="footer--data">
                <h3 class="footer--subtitle">Support</h3>

                <ul>
                    <li class="footer--item">
                        <a href="faqs/index.html" class="footer--link">FAQs</a>
                    </li>

                    <li class="footer--item">
                        <a href="support/index.html" class="footer--link">Support Center</a>
                    </li>

                    <li class="footer--item">
                        <a href="contact/index.html" class="footer--link">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer--rights">
            <p class="footer--copy">&copy; 2022 JKTravels PVT LTD. All rigths reserved.</p>

            <div class="footer--terms">
                <a href="termsandconditions/index.html" class="footer--terms-link">Terms &amp; Agreements</a>
                <a href="privacypolicy/index.html" class="footer--terms-link">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

<!------------------------------ SCROLL UP -------------------------------->
<a href="#" class="scrollup" id="scrollup">
    <i class="ri-arrow-up-line scrollup--icon"></i>
</a>

<!------------------------------ SWIPER JS -------------------------------->
<script src="js/scrollreveal.min.js"></script>

<!------------------------------ SWIPER JS -------------------------------->
<script src="js/swiper-bundle.min.js"></script>

<!------------------------------ MAIN JS -------------------------------->
<script src="js/main.js"></script>
</body>

</html>
